.movie-detail {
  margin: 20px 64px 98px 64px;
  font-family: "Arial", sans-serif;
  background: #ffffff;
}

.movie-title-wrapper {
  display: flex;
}

.movie-title {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  width: 100%;
  height: 80px;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.movie-favorite-count {
  font-size: 18px;
  color: #666;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-image-wrapper {
  position: relative;
  text-align: center;
}

.movie-image {
  width: 100%;
  height: 600px;
}

.movie-image img {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

.heart-wrapper-detail {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(243, 244, 246, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.favorite-button-detail {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.favorite-button-detail img {
  width: 24px;
  height: 24px;
}

.movie-summary {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  color: #000000;
  margin-top: 64px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
  margin-top: 32px;
}

.movie-info {
  margin-top: 20px;
  display: flex;
}

.movie-info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.movie-info p {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.movie-detail-imdb {
  width: 101px;
  height: 17px;
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

.imdb-logo {
  width: 35px;
  height: 17px;
}
